<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TraceableGoods"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.detail.DetailProdukActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.auth.RegisterActivity" />
        <activity android:name=".ui.activity.auth.ForgotActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.MainObserverActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.detail.DetailProdusenActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.detail.DetailDistributorActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.detail.DetailPenerimaActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.detail.DetailPenggilingActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.detail.DetailPengepulActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.detail.DetailGudangActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.detail.DetailTengkulakActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.detail.DetailPabrikPengolahanActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahDataMasterActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahProdukActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahProdusenActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahDistributorActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahPenerimaActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahPenggilingActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahPengepulActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahGudangActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahTengkulakActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.datamaster.TambahPabrikPengolahanActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.transaksi.TahapProdusenActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.transaksi.TahapGudangActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.transaksi.TahapTengkulakActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.transaksi.TahapPenggilingActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.transaksi.TahapPengepulActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.transaksi.TahapPenerimaActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.TahapAlurDistribusiActivity" />
        <activity android:name="com.wahyurhy.traceablegoods.ui.activity.tambah.transaksi.TahapPabrikPengolahanActivity" />
    </application>

</manifest>